.modelMessageAction button{
    display: inline-block;
    font-weight: 400;
    color: #CC3366;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    background-color: transparent;
    border: 1px solid #CC3366;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    transition: all .3s;
}
.modelMessageAction {
    text-align: center;
    padding-top: 23px;
}

.border-\[\#ced4da\] {
    --tw-border-opacity: 1;
    border-color: rgb(206 212 218);
}
.w-screen {
    width: 100vw;
}
.h-screen {
    height: 100vh;
}
.text-\[16px\] {
    font-size: 16px;
}
.w-\[40\%\] {
    width: 40%;
}
.w-\[60\%\] {
    width: 60%;
}
.border-\[1\.5px\] {
    border-width: 1.5px;
}
.h-\[100\%\] {
    height: 100%;
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.resize-none {
    resize: none;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: rgb(206 212 218);
    box-shadow: none;
}
.mantine-dimeg5 {
    padding: 0px 1.375rem;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 2.625rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: auto;
    border-radius: 0.25rem;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    background-color: rgb(34, 139, 230);
    color: rgb(255, 255, 255);
}
.ml-10 {
    margin-left: 2.5rem;
}

h4{
    font-size: 1.5rem !important;
    margin-top: .5rem !important;
    margin-bottom: 1rem !important;
    font-family: inherit !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: inherit !important;
}